extends layout


block content
    .container
        h1= "Meet the Team"
        if (team.length > 0)
            .team-wrap
            each teamMember in teamMembers
                .team-member.col-sm-4
                    h3= teamMember.tag
                    img.img-thumbnail(src='#{teamMember.image}')
                    p= teamMember.fullName
                    p= teamMember.position
                    p= teamMember.nationality

        else
            p Team Does Not EXIST!
