extends layout


block content
    .container
        h1= "Meet the Team"
        if (team.length > 0)
            .team-wrap.center-block
            each teamMember in teamMembers
                .team-member.col-sm-4.center-block
                    h3.center= teamMember.tag
                    img.img-thumbnail.center-block(src='#{teamMember.image}')
                    p.center= 'Name: ' + teamMember.fullName
                    p.center= 'Role: ' + teamMember.position
                    p.center= 'Nationality: ' + teamMember.nationality

        else
            p Team Does Not EXIST!
